<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.map.wulimap">

    <!-- 允许程序打开网络套接字权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 保持屏幕常亮所需权限 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 读取手机联系人信息所需权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 向SD卡写入文件所需权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 读取SD卡状态所需权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 读取或更改系统设置 所需权限 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 手机震动所需权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 创建和删除文件所需权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 查询网络状态的权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 调用系统窗口所需权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- 用户定位所需权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <!-- 相机的权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 允许程序修改全局音频设置 比如说：存储位置 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!-- 录制语音权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/app_icon_white_big"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">

        <!-- 腾讯 -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1105170987" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 微信 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name" />

        <!-- 友盟 -->
        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" />

        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="56e163bce0f55a54c8000645" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Channel ID" />

        <!-- 地图 -->
        <service android:name="com.amap.api.location.APSService" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="9374fb541cb0ced6b44c42ecca3ab4ee" />

        <!-- 百度 -->
        <meta-data
            android:name="com.baidu.speech.APP_ID"
            android:value="8004896" />
        <meta-data
            android:name="com.baidu.speech.API_KEY"
            android:value="BNXYoHbQ9RQm6Lgc1DvNLMCq" />
        <meta-data
            android:name="com.baidu.speech.SECRET_KEY"
            android:value="f09077cc81baa6666aee50575691b4af" />

        <service
            android:name="com.baidu.speech.VoiceRecognitionService"
            android:exported="false" />

        <activity
            android:name="com.baidu.voicerecognition.android.ui.BaiduASRDigitalDialog"
            android:configChanges="orientation|keyboardHidden|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog">
            <intent-filter>
                <action android:name="com.baidu.action.RECOGNIZE_SPEECH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- im -->
        <!--会话界面-->
        <activity
            android:name=".Activity.ConversationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.map.wulimap"
                    android:pathPrefix="/conversation/"
                    android:scheme="rong" />
            </intent-filter>
        </activity>

        <!-- 广播 -->
        <receiver android:name=".Activity.HomeActivity$myreceive">
            <intent-filter>
                <action android:name="Main22Activitymyreceive" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.WelcomeActivity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.HomeActivity"
            android:label="@string/title_activity_main22"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.SearchPositionActivity"
            android:label="@string/title_activity_daohang"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.LoginActivity"
            android:label="@string/title_activity_laod"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.RegisterActivity"
            android:label="@string/title_activity_zhuce"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.ChangePasswprdActivity"
            android:label="@string/title_activity_xiugai"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="Xiugaimima" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.FindPasswordActivity"
            android:label="@string/title_activity_wangji"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.MyAccountActivity"
            android:label="@string/title_activity_xiangqing"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Write_rijiActivity"
            android:label="@string/title_activity_riji"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Write_youjiActivity"
            android:label="@string/title_activity_youji"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.MyRijiDetailActivity"
            android:label="@string/title_activity_scrolling2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.YoujiDetailActivity"
            android:label="@string/title_activity_youjixiangqing"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.RijiDetailActivity"
            android:label="@string/title_activity_rijixiangqing"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.MapActivity"
            android:label="@string/title_activity_dt"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.My_rijiActivity"
            android:label="@string/title_activity_woderiji"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.My_youjiActivity"
            android:label="@string/title_activity_wodeyouji"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.MyYoujiDetailActivity"
            android:label="@string/title_activity_scrollingyouji"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.NoticeActivity"
            android:label="@string/title_activity_tongzhi"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.My_FocusActivity"
            android:label="@string/title_activity_guanzhubeiguanzhu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.FocusOnMeActivity"
            android:label="@string/title_activity_beiguanzhu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.SearchFriendActivity"
            android:label="sousutianjia"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.FriendAcountActivity"
            android:label="@string/title_activity_tarenxiangqing"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.GoMapActivity"
            android:label="@string/title_activity_dt2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Friend_youjiActivity"
            android:label="@string/title_activity_tarenyouriji"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.YoujiCircleActivity"
            android:label="@string/title_activity_weiguanzhuyouriji"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Friend_rijiActivity"
            android:label="@string/title_activity_tarenriji"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.RijiCircleActivity"
            android:label="@string/title_activity_weiguanzhuriji"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.WebActivity"
            android:label="@string/title_activity_web"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.SuggestActivity"
            android:label="@string/title_activity_jianyifangui"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="jianyifankui" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.CardActivity"
            android:label="@string/title_activity_card"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.SetActivity"
            android:label="@string/title_activity_set"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Webh5Activity"
            android:label="@string/title_activity_webh5"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.My_newsActivity"
            android:label="@string/title_activity_my_news"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>
